
body{
   margin: 20px;
   text-align:center;
}

h1{
   margin-bottom: 30px;
}

.title {
   text-align:center;
}

.review {
   width:400px;
   margin-left: 20px;
}

.p2 {
   width: 400px;
   margin-top: 40px;
}

.p3 {
   width: 400px;
   margin-top: 400px;
}

.quote{
padding-right:40px;
padding-left:40px;
font-style: italic;
color: grey;
}

ol {
   margin-top: 150px;
   margin-bottom: 550px;
   text-align: left;
   list-style-type: upper-alpha;
   float:right;
}

li {
   line-height: 30px;
}

img{
   margin-top: 150px;
   margin-bottom: 100px;
   float:left;
}
.list1 {
   margin-right: 300px;
   margin-top: -10px;
}

h3 {
   font-weight: bold;
}

h2 {
   font-weight: bold;
}
